<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80338122473-2gd1uv0orsf3u5ts1eums3uu5tl4t1d8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80338122473-2gd1uv0orsf3u5ts1eums3uu5tl4t1d8</string>
	<key>API_KEY</key>
	<string>AIzaSyCMRCq0DcuPt_m5MG4lRhhZwSFI7FfFqaQ</string>
	<key>GCM_SENDER_ID</key>
	<string>80338122473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Husky.Social-Network.chat1</string>
	<key>PROJECT_ID</key>
	<string>social-network-312be</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-312be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:80338122473:ios:30374cc409123038</string>
	<key>DATABASE_URL</key>
	<string>https://social-network-312be.firebaseio.com</string>
</dict>
</plist>
