<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045628072199-5ols17o0v5iu2nf5aq0s3a91sr0bndas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045628072199-5ols17o0v5iu2nf5aq0s3a91sr0bndas</string>
	<key>API_KEY</key>
	<string>AIzaSyC8yU8enmLTjzLYLQH_E137jhnPA7508Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>1045628072199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Husky.Social-Network.chat1</string>
	<key>PROJECT_ID</key>
	<string>mangxahoi-8463d</string>
	<key>STORAGE_BUCKET</key>
	<string>mangxahoi-8463d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045628072199:ios:ef89527503a6f19c</string>
	<key>DATABASE_URL</key>
	<string>https://mangxahoi-8463d.firebaseio.com</string>
</dict>
</plist>